
body {
    background-image: url("backgraundSU.jpg");
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

#connectingPanel {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    width: 900px;
    transform: translate(-50%, -50%);
    background: #FFFFCC;
    opacity: 80%;
    border-radius: 5px;
}

#startPanel{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    width:350px;
    transform: translate(-50%, -50%);
    opacity: 80%;
    border-radius: 5px;
}

#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}

#logPanel {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    width: 300px;
    transform: translate(-50%, -50%);
    background: #FFFFCC;
    opacity: 80%;
    border-radius: 5px;
}

#registerPanel {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: #FFFFCC;
    opacity: 90%;
    border-radius: 5px;
    width: 500px;
}


footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    font-weight: bold;

}